{% extends 'base.html' %}

{% block head %}

<title>Logistic Solver</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Logistic Solver<br/>Classify Position</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input  name="avg_rss12" id="avg_rss12" placeholder="avg_rss12">
            <input name="var_rss12" id="var_rss12" placeholder="var_rss12">
            <input name="avg_rss13" id="avg_rss13" placeholder="avg_rss13">
            <input  name="var_rss13" id="var_rss13" placeholder="var_rss13">
            <input name="avg_rss23" id="avg_rss23" placeholder="avg_rss23">
            <input name="var_rss23" id="var_rss23"placeholder="var_rss23" >
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
</div>
{% endblock %}